@use '../../constants/constant.scss' as *;

.login-button{
    background: $buttonColor;
    border-radius: 8px;
    width: inherit;
    height: 48px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-top: .5rem;
}
.search-button{
    width: auto;
    height: 40px;
    @include flex; 
    justify-content: center;
    padding: 0 13px;
    border-radius: 0 8px 8px 0;
    background-color: $buttonColor;
    border: none;
}
.search-button svg{
    fill: white;
}