@use '../../constants/constant.scss' as *;

.card{
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 1.875rem;
    width: auto;
    .card-title{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $subHeadingColor;
        margin: 14px 0 12px;
    }
    .card-digit{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $headerColor;
        margin-bottom: 10px;
    }
}